<body>
    <h2>Some ideas and examples</h2>
    <div>
        <p>@Html.ActionLink("Races - Graphs", "triathlons", "home")</p>
        <p>@Html.ActionLink("Races - Stats", "stats", "home")</p>
        <p>@Html.ActionLink("Beers - List", "beers", "home")</p>
        <p>@Html.ActionLink("Beers - Map", "beersMap", "home")</p>
    </div>
    <div><p><a target="_blank" href="https://github.com/ddunhill/GoogleWebService">Code</a></p></div>
</body>
